---
import { site } from "../config/site";
---
<footer class="section" style="padding-top:0;">
  <div class="container">
    <div class="hr"></div>

    <div class="footerRow">
      <div class="small">© {new Date().getFullYear()} {site.bandName}</div>
      <div class="footerLinks">
        <a href="/impressum">Impressum</a>
        <a href="/datenschutz">Datenschutz</a>
      </div>
    </div>
  </div>
</footer>
